

html {
    font-size: 62.5%;
}

h3,
p {
    margin: 0;
}

.dashboard-side-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    width: 30vw;
    border-right: .2rem solid #E7ACAC;
    gap: 1rem;
}

.info-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    width: 100%;
    padding: 1.8rem 1.8rem;


}

.info-row span {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: grey;
}

.info-row img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
}

.info-row h2 {
    margin: 0;
    width: 10rem;
    height: 3rem;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 125%;
    text-align: center;

    color: #000000;

}

.date-match-switch {
    width: 90%;
    height: 4.629rem;
    background: #F5F5F5;
    border-radius: 3rem;

}

.date-match-switch {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dates {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dates {
    width: 50%;
    height: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 125%;
    text-align: center;
    color: #000000;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.dates:hover {
    background-color: #f4f0ec;
    border-radius: 30px;
}

.matches {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.matches {
    /* width: 15.43rem; */
    width: 50%;
    /* height: 4.304rem; */
    height: 100%;
    background: #FFFFFF;
    border-radius: 3rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 125%;
    text-align: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    color: #FF7676;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

}

.date-match-fixing {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
   
    
}
.date-match-fixing::-webkit-scrollbar {
    width: 1.5em;
  }





@media(max-width:998px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:768px) {
    html {
        font-size: 45%;
    }
}
@media only screen and (max-width: 650px) {
    .dashboard-side-section{
      display: none;
    }
    .dashboard-container{
        height: 100vh;
        padding: 3rem 0;
    }
    .filter{
        position: relative;
        top: -23px;
    }
    .filter img{
        height: 3rem;
        width: auto;
        margin-left: 3rem;
        

    }
    .filter p{
        display: none;
    }
    .main-section{
        height: 100vh;
        justify-content: space-between;
    }
    .name-container{
        display: none;

    }
    .img-container{
        margin-top: 10rem;
        height: 90rem;
        width: 50rem;
        border-radius: 2rem;
    }
    .report span p{
        font-size: 1.6rem;
    }
    .report span img{
        height: 2rem;
        width: auto;
    }
    .report{
        padding:0 6rem;
        position: relative;
        top: -612px;
        justify-content: flex-end;
    }
    .swipe-btns{
        bottom: 14.7rem;
    }
    .report-modal-cont{
        max-width: 100vw;
        border-radius: 3rem 3rem 0 0;
    }
    .cross-row span{
        height: 3rem;
        width: 3rem;
    }

  }