*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: white;
    /* width: 396px;
height: 475px; */
border-radius: 20px;
gap: 3rem;
max-width: 30rem;
/* top: 50%;
left: 50%; */
padding: 30px 30px;


}
.modal-cont img{
    height: 100px;
}
.modal-cont h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 157.5%;
    /* or 38px */
    
    text-align: center;
    
    color: #6F9489;
    
}
.modal-cont button{
    border-style: none;
    /* width: 316px;
height: 56px; */
background: #E7ACAC;
border-radius: 30px;
font-style: normal;
font-weight: 600;
font-size: 20px;
padding: 10px 30px;
line-height: 125%;
text-align: center;
color: #FFFFFF;
}

.modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(189,189,189,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;

}

