@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans";
}
html{
  font-size: 62.5%;
}

.signup-page {
  background-color: #f8e8e6;
  width: 100vw;
  height: 100vh;
  gap: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5.0rem;
  width: 40%;
  gap: 2rem;
}
.design h1 {
  font-size: 1.5rem;
  width: 30.6rem;
  height: 7.0rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.5rem;
  letter-spacing: 0.08em;

  color: #6f9489;
}
.design img {
  /* width: 300px; */
  width: 40.1rem;
  height: 23.8rem;
}
.design p {
  width: 38.4rem;
  height: 14.0rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 3.5rem;
  text-align: center;
  letter-spacing: 0.08em;
  color: #97aa95;
}
.signup-form-section {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  gap: 2rem;
  border-radius: 4.7rem 0px 0px 4.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.cwg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  gap: 1rem;
  margin: 0;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 1.5rem;
  width: 40.0rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cwg img {
  width: 2.4rem;
}
.cwg p {
  margin-bottom: 0;
  font-size: 1.4rem;
}
.signup-form-section h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.5rem;
  letter-spacing: 0.08em;

  color: #000000;
 
}
.signup-input-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    width: 65%;
    align-items: initial;
    padding: 0 12.0rem;
}
.login-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}
.login-text p{
    margin-bottom: 0;
} 
.login-text a{
    color: #E7ACAC;
}
.signup-btn{
    width: 51.3rem;
height: 5.7rem;
background: #E7ACAC;
border-radius: .5rem;
display: flex;
justify-content: center;
align-items: center;
padding: 1.0rem 1.0rem;
border: none;
color: #fff;
  border-radius: 1.5rem;
  width: 40.0rem;
}
#or{
    color: #CDCACA;
    font-size: 1.6rem
}
