@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans";
}
html{
  font-size: 62.5%;
}

.signup-page {
  background-color: #f8e8e6;
  width: 100vw;
  height: 100vh;
  gap: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  width: 40%;
  gap: 2rem;
}
.design h1 {
  font-size: 1.5rem;
  width: 306px;
  height: 70px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.08em;

  color: #6f9489;
}
.design img {
  /* width: 300px; */
  width: 401px;
  height: 238px;
}
.design p {
  width: 384px;
  height: 140px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.08em;
  color: #97aa95;
}
.signup-form-section {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  gap: 2rem;
  border-radius: 47px 0px 0px 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cwg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  gap: 1rem;
  margin: 0;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cwg img {
  width: 24px;
}
.cwg p {
  margin-bottom: 0;
  font-size: 14px;
}
.signup-form-section h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.08em;

  color: #000000;
 
}
.signup-input-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    width: 65%;
    align-items: initial;
    padding: 0 120px;
}
.login-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}
.login-text p{
    margin-bottom: 0;
} 
.login-text a{
    color: #E7ACAC;
}
.signup-btn{
    width: 513px;
height: 57px;
background: #E7ACAC;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
padding: 10px 10px;
border: none;
color: #fff;
  border-radius: 15px;
  width: 400px;
}
#or{
    color: #CDCACA;
}
